body{
    align-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: grey;
    text-align: center;
    image-rendering: optimizeQuality;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
    height: auto;
    margin: 0;
}

#topnavbar{
    background-color: grey;
    width: 100%;
    height :50px;
    top:0;
    background: rgba(0, 0, 0, 0.5);
}

#Search {
    width: 15%;
    border: 1px solid #ddd;
  }
  
  /* Style the navigation menu inside the left column */
  #SearchMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

#topnavbutton{
    background-color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    height: 50px;
    z-index: 10;
}
#topnavbutton:hover{
    background-color: red;
}

#searchbox{
    background-color: lightgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.videotn {
    width: 10%;
    height: 20%;
    border-radius: 15px;
}

.project{
    width: 25%;
    height: 50%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: inline-block;
}
.project:hover{
    background-color: red;
}

.videotn{
    border-radius: 20px;
    width: 640px;
    height: 360px;
}

#projectlist{
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}